{% extends "base.njk" %}
{% block main %}
    {# <a class="muted small" href="/">← michel zeller</a> #}
    <a class="muted small" href="/">← back</a>
    <h1>{{ title }}</h1>
    {{ content | safe }}
{% endblock %}