<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./_header.njk" %}
    </head>
    <body>
        {% block main %}{% endblock %}
        <script src="{{ '/js/darkmode.js' | url }}"></script>
        <script src="/js/toggle.js"></script>
        <script src="/js/stars.js"></script>
    </body>
</html>