<!DOCTYPE html>
<html lang="en">
<head>
    {% include "./_header.njk" %}
</head>
<body>
    {% block main %}
    {% endblock %}
    <script>
        document.getElementById("toggleDarkMode").addEventListener("click", function() {
            if (isDarkMode()) {
                localStorage.theme = 'light'
                document.documentElement.classList.remove('dark')
            } else {
                localStorage.theme = 'dark'
                document.documentElement.classList.add('dark')
            }
            updateToggleButtonText();
        });
        updateToggleButtonText();
    </script>
    <script src="/js/darkmode.js"></script>
</body>
</html>