<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "./_header.njk" %}
        <script>
            // Apply theme immediately to prevent flash
            document.documentElement.classList.toggle('dark-mode', 
                localStorage.getItem('darkMode') === 'true'
            );
        </script>
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {% block scripts %}
            <script defer src="{{ '/js/darkmode.js' | url }}"></script>
            <script defer src="/js/toggle.js"></script>
            <script defer src="/js/stars.js"></script>
        {% endblock %}
    </body>
</html>