{% extends "base.njk" %}

{% block main %}
<div class="education-entry">
    <div class="period-title">
        <span class="period">{{ startDate | dateFormat("MMM YYYY") }} - {{ endDate | dateFormat("MMM YYYY") }}</span>
        <span class="title">{{ degree }} - {{ school }}</span>
    </div>
    <div class="content">{{ content | safe }}</div>
</div>
{% endblock %}