{% extends "base.njk" %}
{% block main %}
  <header>
    <h1>{{ main }}
      <span id="toggleDarkMode"><img src='/assets/nxt.ico' alt="Toggle" width="16" height="16"></span>
      {# <span id="toggleDarkMode">*</span></h1> #}
    </header>
    {{ content | safe}}

    <div class="canvas-container">
      <canvas class="starfield"></canvas>
      <div class="canvas-tooltip">Hold CTRL to enable controls</div>
    </div>

    {# Social Media Icons #}
    <hr/>
    <div class="social-media">
      <a target="_blank" href="https://github.com/mizeller">
        <i class="fa-brands fa-github"></i>
      </a>
      <a target="_blank" href="https://linkedin.com/in/mizeller">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:mizeller@pm.me">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a href="tel:+41765251348">
        <i class="fa-solid fa-phone"></i>
      </a>
      <a target="_blank" href="https://linkedin.com/in/mizeller">
        <i class="fa-solid fa-file-pdf"></i>
      </a>
    </div>
    <hr/>

    {# Work Section #}
    <div class="collapsible-section">
      <h2 class="collapsible-header" onclick="toggleSection('work')">
        <span class="toggle-icon">▾</span> Work
  </h2>
      <div id="work" class="collapsible-content">
        <div class="education-timeline">
          {% for entry in collections.work %}
            <div class="education-entry">
              <div class="period-title">
                <span class="period">{{ entry.data.startDate | dateFormat("MMM YYYY") }} - {{ entry.data.endDate | dateFormat("MMM YYYY") }}</span>
                <span class="title">{{ entry.data.degree }} - {{ entry.data.school }}</span>
              </div>
              <div class="content">{{ entry.content | safe }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {# Education #}
    <div class="collapsible-section">
      <h2 class="collapsible-header" onclick="toggleSection('education')">
        <span class="toggle-icon">▾</span> Education
  </h2>
      <div id="education" class="collapsible-content">
        <div class="education-timeline">
          {% for entry in collections.education %}
            <div class="education-entry">
              <div class="period-title">
                <span class="period">{{ entry.data.startDate | dateFormat("MMM YYYY") }} - {{ entry.data.endDate | dateFormat("MMM YYYY") }}</span>
                <span class="title">{{ entry.data.degree }} - {{ entry.data.school }}</span>
              </div>
              <div class="content">{{ entry.content | safe }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {# Projects #}
    <div class="collapsible-section">
      <h2 class="collapsible-header" onclick="toggleSection('projects')">
        <span class="toggle-icon">▾</span> Projects
  </h2>
      <div id="projects" class="collapsible-content">
        <ul>
          {% for portfolio in collections.portfolio %}
            <li>
              <a class="post-link" href="{{ portfolio.url }}">{{ portfolio.data.title }}</a> -
    {{portfolio.data.summary}}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

  {% endblock %}