{% extends "base.njk" %}
{% block main %}
<header>
  <h1>{{ main }}<span id="toggleDarkMode">*</span></h1>
</header>
{{ content | safe}}
<hr />

<h2>Education</h2>
<div class="education-timeline">
  {% for entry in collections.education | reverse %}
  <div class="education-item">
    <div class="education-meta">
      <time class="education-period">
        {{ entry.data.startDate | dateFormat("MMM YYYY") }} - 
        {{ entry.data.endDate | dateFormat("MMM YYYY") }}
      </time>
      <h3 class="school">{{ entry.data.school }}</h3>
      <div class="degree">{{ entry.data.degree }}</div>
      <div class="focus">{{ entry.data.focus }}</div>
    </div>
    <div class="education-content">
      {{ entry.content | safe }}
    </div>
  </div>
  {% endfor %}
</div>


<h2>Projects</h2>
<ul>
  {% for portfolio in collections.portfolio  %}
  <li>
    <a class="post-link" href="{{ portfolio.url }}">{{ portfolio.data.title }}</a> -
    {{portfolio.data.summary}}
  </li>
  {% endfor %}
</ul>




{% endblock %}
